
<%= form_for @photo, html: { multipart: true } do |f| %>
  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this pet from being saved:</h2>
 
      <ul>
      <% @photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %> 
 
  <div class="field">
    <%= f.label :place_id %><br>
    <%= f.text_field :place_id %>
  </div>
  <div class="field">
    <%= f.label :caption %><br>
    <%= f.text_area :caption %>
  </div>
  <div class="field">
    <%= f.label :picture %><br>
    <%= f.file_field :picture %>
    <%= if f.object.picture? %>
      <%= image_tag f.object.image.thumb.url %>
      <%= f.label :remove_picture %>
      <%= f.check_box :remove_picture %>
    <% end %>
  </div>
  
  <div class="actions">
    <%= f.input :picture %>
  </div>
<% end %>






